body {
  margin: 0 auto;
}
main {
  margin: 50px 20% 30%;
  width: 600px;
  min-height: 200px;
  border: 1px solid teal;
  background-color: antiquewhite;
}
h2 {
  text-align: center;
}
table {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  border: 2px solid teal;
  text-align: center;
}
table td {
  border: 2px solid teal;
}
.first {
  color: teal;
  font-weight: 800;
}